body {
    margin: 0;
}

header, footer {
    background-color: #1F2937;
    display: flex;
    color: #eee;
}

.qinfo {
    background-color: #E5E7EB;
}

.singupinfo {
    background-color: #3882F6;
}

header {
    justify-content: space-around;
}

.headitems {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

header section {
    display: flex;
}