body {
    margin: 0;
}

header, footer {
    background-color: #1F2937;
    display: flex;
    color: #eee;
}

.herotitle {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.info p {
    font-size: 18px;
    color: #E5E7EB;
}

input[type="button"] {
    background-color: #3882F6;
    padding: 10px 25px 10px 25px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #4381e4;
    border-radius: 10px;
}

.qinfo {
    background-color: #E5E7EB;
}



header {
    justify-content: space-around;
}

.headitems {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 20px;
    margin-bottom: 60px;
}

header .logo {
    flex-shrink: 0;
    margin-right: 10px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

header section {
    display: flex;
    gap: 50px;
}

header.info {
    flex-grow: 1;
    flex-shrink: 2;
} 

header img {
    width: 70vw;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #eee;
}

.rinfo, .qinfo, .singupinfo {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.centeritems {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 50vw;

}

.rinfo .centeritems {
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.rinfo .centeritems .infoheader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.items {
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}


.items img {
    border: 1px solid rgb(71, 107, 185);
}

.item {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
}

.qinfo .centeritems {
    display: flex;
    flex-direction: column;

}

.author {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    align-self: center;
}

.singupinfo .centeritems {
    max-width: 60vw;
}

.signupbox {
    background-color: #3882F6;
    width: 60vw;
    display: flex;
    justify-content: center;   
    gap: 10vw;
    color: white;
    padding: 2vw;
    font-size: 20px;
    border-radius: 10px;
    align-items: center;
}

.signupheader {
 font-size: 25px;
 font-weight: 600;   
}

.singupinfo input[type="button"] {
    border: 1px solid white;
}

footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:800px){ 

    header section {

        flex-direction: column;

    }

 }